@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --main-bg-color: brown;
    --font1:  'Ubuntu', sans-serif;
    --font2:  'Lato', sans-serif;
}

.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}


.btn{
    padding: 6px 6px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}
.form-input{
    padding: 4px 9px;
    border: 2px solid black;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 17px;
    font-family: var(--font1);
}